* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --pink: #f7e9ff;
  --darkPurple: #3d1a53;
  --white: #fff;
}

body {
  background: var(--pink);
}

html,
body,
#root {
  height: 100%;
}

.App {
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

button#goTop {
  position: fixed;
  left: 50%;
  bottom: 0.5rem;
  background: var(--white);
  padding: 0.5rem 1rem;
  color: var(--darkPurple);
  border-radius: 2rem;
  border: 1px solid var(--darkPurple);
  line-height: 1rem;
  font-size: 0.8rem;
  transform: translateX(-50%);
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

button#goTop.hidden {
  transform: translateX(-50%) translateY(calc(100% + 0.5rem));
}

aside {
  max-height: 100vh;
  padding: 0.5rem 2rem 0;
  overflow: hidden;
  flex-shrink: 0;
  position: static;
}

#logo {
  line-height: 2rem;
  color: var(--darkPurple);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  color: inherit;
  text-decoration: none;
}

#logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#logo button {
  background: transparent;
  color: var(--darkPurple);
  border: 0;
  font-size: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

#searchBox {
  display: flex;
  background: var(--white);
  border-radius: 3rem;
  border: 1px solid var(--darkPurple);
}

#searchBox input {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1.25rem;
  border-radius: 3rem 0 0 3rem;
  border: 0;
}

#searchBox button {
  padding: 0 1.25rem;
  background: transparent;
  border-radius: 0 0.75rem 0.75rem 0;
  border: 0;
  display: flex;
  align-items: center;
}

#menu {
  height: 0;
}

#menu.active {
  height: fit-content;
}

aside nav {
  display: flex;
  flex-direction: column;
  margin: 0;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
}

aside nav a {
  font-size: 1.25rem;
  color: var(--darkPurple);
  text-decoration: none;
}

aside nav a.active {
  font-weight: 600;
}

aside nav a:hover,
aside nav a:focus {
  text-decoration: underline;
}

#otherProjects {
  margin-top: 2.5rem;
  display: none;
}

#otherProjects h2 {
  font-size: 1.25rem;
  color: var(--darkPurple);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#otherProjects a {
  display: block;
  text-decoration: none;
  padding: 0.75rem 0;
  color: var(--darkPurple);
  font-size: 1.25rem;
}

#otherProjects a:hover,
#otherProjects a:focus {
  text-decoration: underline;
}

main {
  min-width: none;
  overflow-y: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: fit-content;
}

.mainTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-shrink: 0;
  align-items: center;
  overflow-x: auto;
  height: auto;
}

#pagination {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

#pagination button {
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 1.5rem;
  color: var(--darkPurple);
  cursor: pointer;
  border: 1px solid var(--darkPurple);
  white-space: nowrap;
}

#pagination button:hover,
#pagination button:focus {
  background: var(--darkPurple);
  color: var(--white);
}

#pagination button:disabled {
  color: #bbb;
  border-color: #bbb;
  pointer-events: none;
  background: transparent;
}

#mySocials {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-grow: 1;
}

#mySocials a {
  color: var(--darkPurple);
  text-decoration: none;
}

#mySocials a:hover,
#mySocials a:focus {
  text-decoration: underline;
}

#mainGrid,
.mainGrid {
  background: var(--white);
  padding: 2rem 2rem 3rem;
  border-radius: 2rem 0 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  flex-grow: 1;
  align-items: start;
}

.bookCard {
  border: 0.5rem solid var(--pink);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 30rem;
}

.bookCard img {
  border-radius: 0.5rem;
}

.bookCard .noImage {
  height: 200px;
  display: flex;
  align-items: center;
  width: 141px;
  border: 1px solid #ccc;
  justify-content: center;
  border-radius: 0.5rem;
  user-select: none;
}

.bookDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.bookName {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.bookName h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--darkPurple);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bookName h2 span {
  font-size: 0.75rem;
}

.bookName button {
  width: 1.5rem;
  aspect-ratio: 1;
  border: 1px solid var(--darkPurple);
  border-radius: 50%;
  background: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bookName button.active {
  background: var(--darkPurple);
}

.bookName button.active img {
  filter: brightness(0) saturate(100%) invert(1);
}

.bookName button img {
  width: 60%;
}

.authorName {
  font-size: 0.75rem;
  color: var(--darkPurple);
}

.authorName span {
  margin-right: 0.3rem;
}

.authorName span::after {
  content: ",";
}

.authorName span:last-child {
  margin: 0;
}

.authorName span:last-child::after {
  display: none;
}

.bookButtons {
  display: flex;
  gap: 0.75rem;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.bookButtons a {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  white-space: nowrap;
  border-radius: 2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.secondary {
  border: 1px solid var(--darkPurple);
  background: transparent;
  color: var(--darkPurple);
}

.secondary:hover,
.secondary:focus {
  background: var(--pink);
  border: 1px solid var(--pink);
}

.primary {
  background: var(--darkPurple);
  color: var(--white);
  border: 1px solid var(--darkPurple);
}

.primary:hover,
.primary:focus {
  background: var(--pink);
  border: 1px solid var(--pink);
  color: var(--darkPurple);
}

#localStorageForm {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#localStorageForm button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 0;
  background: var(--darkPurple);
  color: var(--white);
  cursor: pointer;
}

#localStorageForm button:hover,
#localStorageForm button:focus {
  background: var(--pink);
  color: var(--darkPurple);
}

#congrats {
  background: var(--pink);
  color: var(--darkPurple);
  display: inline-block;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

#bookDiv {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

#bookImage img {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--pink);
}

#bookImage #noImage {
  width: 100%;
  aspect-ratio: 2/3;
  border: 1px solid var(--darkPurple);
  color: var(--darkPurple);
  border-radius: 1rem;
  display: grid;
  place-items: center;
  user-select: none;
}

#bookDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#titleAndAuthor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#bookDetails h1 {
  color: var(--darkPurple);
  line-height: 1.55;
}

#bookDetails h2 {
  color: var(--darkPurple);
  font-weight: 400;
  font-size: 1.25rem;
}

#bookDetails h2 span::after {
  content: ", ";
}

#bookDetails h2 span:last-child::after {
  display: none;
}

#noDesc {
  color: #777;
}

#bookInfos span {
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  display: inline-block;
  margin-right: 0.75rem;
  font-size: 0.7rem;
}

#bookDetails a {
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  width: fit-content;
}

#bookButtons {
  display: flex;
  gap: 1rem;
}

#bookButtons button {
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--darkPurple);
  border-radius: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#bookButtons button:hover,
#bookButtons button:focus {
  background: var(--pink);
}

#bookButtons button.active {
  background: var(--darkPurple);
}

#bookButtons img {
  height: 40%;
}

#bookButtons button.active img {
  filter: brightness(0) saturate(100%) invert(1);
}

#bookButtons a {
  line-height: 1.5rem;
}

#bookButtons button {
  padding: 0.75rem;
}

#bookButtons button img {
  height: 1.5rem;
  aspect-ratio: 1;
}

@media screen and (min-width: 700px) {
  .App {
    display: grid;
    grid-template-columns: 18rem 1fr;
    min-height: 100%;
  }

  aside {
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 0 1.5rem;
  }

  #logo {
    padding: 2rem 0;
  }

  #logo button {
    display: none;
  }

  aside nav {
    gap: 1.5rem;
    margin-top: 2rem;
    padding:0;
    align-items: flex-start;
  }

  #otherProjects {
    display: block;
  }

  .mainTop {
    height: 6rem;
  }

  #bookDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  
}

@media screen and (min-width: 1000px) {
  .App {
    grid-template-columns: 1fr 3fr;
  }

  aside {
    padding: 0 1.5rem;
  }

  #bookDiv {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 1300px) {
  .App {
    grid-template-columns: 1fr 4fr;
  }

  #bookDiv {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 1900px) {
  #mainGrid,
  .mainGrid {
    border-radius: 2rem 2rem 0 0;
  }
}
